<div id='game'>
    <!--    <p>This is the player client, it requires a master before it can init</p>    -->
    <p id='stakeholder'></p>
    <p id='playerID'>playerID: {{playerID}}</p>
    <p id='gameTimer'></p>
    <p id='active'></p>
    <p id='message'></p>
    <p id='votesRemaining'></p>
    <p id='votesReceived'></p>
    <p id='status' style='display: none;'></p>
    <div id='voting' style='display: none;'>
        voting booth:
    </div>
</div>
<script>
    console.log('i am him');
</script>
