<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    <h3>wow, this works</h3>
    <p>Here is some text to show that a handlebars template is being rendered by the app's view engine</p>
    <p>How about a nice dynamic variable? {{answer}}</p>
</body>

</html>
